:root.theme-light {
  --color-accent: var(--color-gray);
  --color-hover-menu: rgba(50, 49, 45, 0.4);
  --color-main-text: var(--color-gray);
  --color-background: var(--color-pink-light);
  --color-header-title: var(--color-pink);
  --color-decor-bg: var(--color-pink-dark);
  --color-decor-text: var(--color-gray);
  --color-header-description: var(--color-gray);
  --color-text-shadow: var(--color-pink-dark);

  --background-url: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --color-accent: var(--color-gray);
    --color-hover-menu: rgba(50, 49, 45, 0.4);
    --color-main-text: var(--color-gray);
    --color-background: var(--color-pink-light);
    --color-header-title: var(--color-pink);
    --color-decor-bg: var(--color-pink-dark);
    --color-decor-text: var(--color-gray);
    --color-header-description: var(--color-gray);
    --color-text-shadow: var(--color-pink-dark);

    --background-url: url("../images/cover-image-light.png");
  }

  .mark {
    display: none;
  }
}

.theme-light .mark {
  display: none;
}
